.student__leave__form {
    width: 100%;
    // margin: 20px;
    max-width: 900px;
    background-color: white;
    padding: 20px;

    .leave__btn {
        flex: 1;
        display: flex;
        justify-content: space-around;
    }

    .form {
        display: flex;
        flex-direction: column;

        gap: 10px;
    }
}

@media screen and (min-width: 414px) {
    .student__leave__form {
        margin: 10px auto;
        padding: 20px;


        .leave__btn {
            flex: 1;
            display: flex;
            justify-content: space-around;
        }
    }
}

.leave__status {
    max-width: 900px;
    margin: 10px auto;
}

.float__left_side {
    position: fixed;
    // left: 15px;
    right: 10px;
    bottom: 70px;
}